{% extends 'base.html' %}

{% block title %}Meta X - Maskiner {% endblock %}

{% block content %}

<section class="section center">
  <div class="row">
    <div class="col l8 offset-l2">
      <div class="card z-depth-0">
        <div class="card-content">
          <table style="margin-top: -14px;">
            <thead>
              <tr style="color: #4C566A;">
                <th>
                  {% if 'hardware_maskine_se' in bruger_rettigheder and 'hardware_maskine_opret' in bruger_rettigheder %}
                  <form action="{% url 'maskine_view' %}" method="POST">
                    {% csrf_token %}
                    <Button type="submit" class="btn-flat"><i class="material-icons" style="color: #4C566A;">add</i></a>
                  </form>
                  {% endif %}
                </th>
                <th style="cursor: default !important;">Navn</th>
                <th style="cursor: default !important;">Type</th>
                <th style="cursor: default !important;">Lokation</th>
                <th style="cursor: default !important;">Lokale</th>
                <th style="cursor: default !important;">Netværk</th>
                <th style="cursor: default !important;">Kommentar</th>
              </tr>
            </thead>
            <tbody>
              {% for maskine in maskiner %}
              {% if 'hardware_maskine_se' in bruger_rettigheder and 'hardware_maskine_rediger' in bruger_rettigheder %}
              <tr style="line-height: 1; cursor: pointer;" class='clickable-row' data-href="{% url 'maskine_view' maskine.pk %}">
                <td><a href="{% url 'maskine_view' maskine.pk %}"><i class="material-icons" style="color: #4C566A;">edit</i></a></td>
                {% elif 'hardware_maskine_se' in bruger_rettigheder %}
              <tr style="line-height: 1; cursor: pointer;" class='clickable-row' data-href="{% url 'maskine_view' maskine.pk %}">
                <td><a href="{% url 'maskine_view' maskine.pk %}"><i class="material-icons" style="color: #4C566A;">visibility</i></a></td>
                {% else %}
              <tr style="line-height: 1; cursor: default;">
                {% endif %}
                <td>{{ maskine.navn }}</td>
                <td>{{ maskine.type }}</td>
                <td>{{ maskine.placering.lokation }}</td>
                <td>{{ maskine.placering.lokale }}</td>
                <td>{{ maskine.placering.netvaerk }}</td>
                <td>{{ maskine.kommentar }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}

{% block footer %}
{% include 'hardware/footer.html' %}
{% endblock footer %}