THTHTHTH
<div class="row left">
  <div class="col l12">
    <a class="modal-trigger" href="#hjaelp" style="margin-right: 20px;">
      <h6 class="white-text" style="display: inline-block;">Hjælp</h6>
    </a>

    {% if 'system_brugere_se' in bruger_rettigheder or 'system_grupper_se' in bruger_rettigheder %}
    <span style="margin-right: 20px;">|</span>
    {% endif %}

    {% if 'system_brugere_se' in bruger_rettigheder%}
    <a href="#" style="margin-right: 30px;">
      <h6 class="white-text" style="display: inline-block;">Brugere</h6>
    </a>
    {% endif %}

    {% if 'system_grupper_se' in bruger_rettigheder%}
    <a href="#" style="margin-right: 20px;">
      <h6 class="white-text" style="display: inline-block;">Grupper</h6>
    </a>
    {% endif %}
  </div>
</div>