{% extends 'base.html' %}

{% block title %}Meta X - Profil {% endblock %}

{% block content %}

<section class="section center">
  {% if True %}
  <form action="{% url 'profil_view' %}" method="POST">
    {% csrf_token %}
    {% endif %}

    <div class="row">

      <div class="col l3 offset-l3">
        <div class="card z-depth-0">
          <div class="card-content">
            <span class="card-title left">Stamoplysninger</span><br><br>
            <div class="row">
              <div class="input-field col l12">
                <div class="form-group">
                  <label for="initialer" class="col-form-label left" style="color: #4C566A;">Initialer / Brugernavn</label>
                  <input type="text" id="initialer" class="form-control" value="{{ profil.initialer | upper }}" readonly>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="input-field col l12">
                <div class="form-group">
                  <label for="fornavn" class="col-form-label left" style="color: #4C566A;">Fornavn</label>
                  <input type="text" id="fornavn" class="form-control" value="{{ profil.fornavn | default_if_none:'' }}" readonly>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="input-field col l12">
                <div class="form-group">
                  <label for="mellemnavn" class="col-form-label left" style="color: #4C566A;">Mellemnavn</label>
                  <input type="text" id="mellemnavn" class="form-control" value="{{ profil.mellemnavn | default_if_none:'' }}" readonly>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="input-field col l12">
                <div class="form-group">
                  <label for="efternavn" class="col-form-label left" style="color: #4C566A;">Efternavn</label>
                  <input type="text" id="efternavn" class="form-control" value="{{ profil.efternavn | default_if_none:'' }}" readonly>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col l3">
        <div class="card z-depth-0">
          <div class="card-content">
            {% if True %}
            <span class="card-title left">Adgangskode</span><br><br>
            <div class="row">
              <div class="input-field col l12">
                <div class="form-group">
                  <label for="nuvaerende_adgangskode" class="col-form-label left" style="color: #4C566A;">Nuværende</label>
                  <input type="password" name="nuvaerende_adgangskode" id="nuvaerende_adgangskode" class="form-control" value="{{ nuvaerende_adgangskode | default_if_none:'' }}">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="input-field col l12">
                <div class="form-group">
                  <label for="ny_adgangskode" class="col-form-label left" style="color: #4C566A;">Ny</label>
                  <input type="password" name="ny_adgangskode" id="ny_adgangskode" class="form-control" value="{{ ny_adgangskode | default_if_none:'' }}">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="input-field col l12">
                <div class="form-group">
                  <label for="bekraeft_adgangskode" class="col-form-label left" style="color: #4C566A;">Bekræft</label>
                  <input type="password" name="bekraeft_adgangskode" id="bekraeft_adgangskode" class="form-control" value="{{ bekraeft_adgangskode | default_if_none:'' }}">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="input-field col l12">
                <p style="text-align: left;"><strong>Bemærk:</strong> Hvis du ændre din adgangskode, vil du blive logget ud, og vil skulle logge ind med den nye adgangskode.</p>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>

    </div>

    {% if True %}
    <div class="row">
      <div class="col l6 offset-l3">
        <div class="card z-depth-0">
          <div class="card-content">
            <div class="row">
              <div class="card-action col l12">
                <div class="col right" style="padding: 0; margin: 0;">
                  <button class="btn waves-effect waves-light z-depth-0" style="margin-right: -15px; background-color: #4C566A; color: #D8DEE9;" type="submit" id="gem" name="gem">Gem</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    {% if True %}
  </form>
  {% endif %}
</section>

<script>
  $(document).ready(function () {
    var input = $("#nuvaerende_adgangskode");
    var len = input.val().length;
    input[0].focus();
    input[0].setSelectionRange(len, len);
  });
</script>

{% endblock content %}

{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}