{% extends 'base.html' %}

{% block title %}Arkiveringsversioner/Arkiveringsversion{% endblock %}

{% block content %}

<section class="section">
  <form action="{% url 'arkiveringsversion_view' avid version %}" method="POST">
    {% csrf_token %}
    <div class="row">

      <div class="col l6">
        <div class="card z-depth-0" style="margin-top: -2px;">
          <div class="card-content" style="padding: 0;">

            <div class="row">
              <div class="card-action col l12">
                <div class="col left" style="margin-left: -15px; margin-bottom: -7px;">
                  <a href="{{ public }}" target="_blank" style="margin: 0;">
                    <button class="btn waves-effect waves-light z-depth-0" style="margin-right: 4px; background-color: #4C566A; color: #D8DEE9;" type="button" id="public" name="public">Public 360</button>
                  </a>
                </div>
                <div class="col right" style="margin-right: -15px; margin-bottom: -7px; ">
                  <button class="btn waves-effect waves-light z-depth-0" style="margin-right: 4px; background-color: #4C566A; color: #D8DEE9;" type="submit" id="public" name="public">Gem Ændringer</button>
                </div>
              </div>
            </div>

            {% if 'arkiveringsversioner_arkiveringsversion_rediger' in bruger_rettigheder and 'arkiveringsversioner_public_rediger' in bruger_rettigheder %}
            <div class="row">
              <div class="col l12">
                <div class="input-field col l12">
                  <div class="form-group">
                    <label for="public_link" class="col-form-label left" style="color: #4C566A;">Public Link</label>
                    <input type="text" name="public_link" id="public_link" class="form-control" spellcheck="false" value="{{ public | default_if_none:'' }}" oninput="updatePublic()">
                  </div>
                </div>
              </div>
            </div>
            {% endif %}

            <div class="row">
              <div class="col l12">
                <div class="input-field col l1">
                  <div class="form-group">
                    <label for="avid" class="col-form-label left" style="color: #4C566A;">AVID</label>
                    {% if 'arkiveringsversioner_arkiveringsversion_rediger' in bruger_rettigheder and 'arkiveringsversioner_avid_rediger' in bruger_rettigheder %}
                    <input type="text" name="avid" id="avid" class="form-control number" maxlength="5" spellcheck="false" value="{{ avid | default_if_none:'' }}" oninput="updateAvid()">
                    {% else %}
                    <input type=" text" name="avid" id="avid" class="form-control" spellcheck="false" value="{{ avid | default_if_none:'' }}" style="cursor: default !important; border-bottom: 1px dotted #2E3440; box-shadow: 0 0px 0 0 #2E3440;" readonly>
                    {% endif %}
                  </div>
                </div>
                <div class="input-field col l2">
                  <div class="form-group">
                    <label for="jnr" class="col-form-label left" style="color: #4C566A;">J.nr.</label>
                    {% if 'arkiveringsversioner_arkiveringsversion_rediger' in bruger_rettigheder and 'arkiveringsversioner_jnr_rediger' in bruger_rettigheder %}
                    <input type="text" name="jnr" id="jnr" class="form-control jnr" spellcheck="false" value="{{ jnr | default_if_none:'' }}" oninput="updateJnr()">
                    {% else %}
                    <input type="text" name="jnr" id="jnr" class="form-control" spellcheck="false" value="{{ jnr | default_if_none:'' }}" style="cursor: default !important; border-bottom: 1px dotted #2E3440; box-shadow: 0 0px 0 0 #2E3440;" readonly>
                    {% endif %}
                  </div>
                </div>
                <div class="input-field col l9">
                  <div class="form-group">
                    <label for="titel" class="col-form-label left" style="color: #4C566A;">Titel</label>
                    {% if 'arkiveringsversioner_arkiveringsversion_rediger' in bruger_rettigheder and 'arkiveringsversioner_titel_rediger' in bruger_rettigheder %}
                    <input type="text" name="titel" id="titel" class="form-control" spellcheck="false" value="{{ titel | default_if_none:'' }}" oninput="updateTitel()">
                    {% else %}
                    <input type="text" name="titel" id="titel" class="form-control" spellcheck="false" value="{{ titel | default_if_none:'' }}" style="cursor: default !important; border-bottom: 1px dotted #2E3440; box-shadow: 0 0px 0 0 #2E3440;" readonly>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col l12">
                <div class="input-field col l3">
                  <div class="form-group">
                    <label for="kategori" class="col-form-label left" style="color: #4C566A;">Kategori</label>
                    {% if 'arkiveringsversioner_arkiveringsversion_rediger' in bruger_rettigheder and 'arkiveringsversioner_kategori_rediger' in bruger_rettigheder %}
                    <select name="kategori" id="kategori" onchange="updateKategori()">
                      {% else %}
                      <select name="kategori" id="kategori" disabled>
                        {% endif %}
                        {% if kategori == None %}
                        <option value="" selected></option>
                        {% else%}
                        <option value=""></option>
                        {% endif %}
                        {% for k in kategorier %}
                        {% if k == kategori %}
                        <option value="{{ k }}" selected>{{ k }}</option>
                        {% else %}
                        <option value="{{ k }}">{{ k }}</option>
                        {% endif %}
                        {% endfor %}
                      </select>
                  </div>
                </div>
                <div class="input-field col l3">
                  <div class="form-group">
                    <label for="klassifikation" class="col-form-label left" style="color: #4C566A;">Klassifikation</label>
                    {% if 'arkiveringsversioner_arkiveringsversion_rediger' in bruger_rettigheder and 'arkiveringsversioner_klassifikation_rediger' in bruger_rettigheder %}
                    <select name="klassifikation" id="klassifikation" onchange="updateKlassifikation()">
                      {% else %}
                      <select name="klassifikation" id="klassifikation" disabled>
                        {% endif %}
                        {% if klassifikation == None %}
                        <option value="" selected></option>
                        {% else%}
                        <option value=""></option>
                        {% endif %}
                        {% for k in klassifikationer %}
                        {% if k == klassifikation %}
                        <option value="{{ k }}" selected>{{ k }}</option>
                        {% else %}
                        <option value="{{ k }}">{{ k }}</option>
                        {% endif %}
                        {% endfor %}
                      </select>
                  </div>
                </div>
                <div class="input-field col l3">
                  <div class="form-group">
                    <label for="type" class="col-form-label left" style="color: #4C566A;">Type</label>
                    {% if 'arkiveringsversioner_arkiveringsversion_rediger' in bruger_rettigheder and 'arkiveringsversioner_typeav_rediger' in bruger_rettigheder %}
                    <select name="type" id="type" onchange="updateType()">
                      {% else %}
                      <select name="type" id="type" disabled>
                        {% endif %}
                        {% if type == None %}
                        <option value="" selected></option>
                        {% else%}
                        <option value=""></option>
                        {% endif %}
                        {% for t in typer %}
                        {% if t == type %}
                        <option value="{{ t }}" selected>{{ t }}</option>
                        {% else %}
                        <option value="{{ t }}">{{ t }}</option>
                        {% endif %}
                        {% endfor %}
                      </select>
                  </div>
                </div>
                <div class="input-field col l3">
                  <div class="form-group">
                    <label for="land" class="col-form-label left" style="color: #4C566A;">Land</label>
                    {% if 'arkiveringsversioner_arkiveringsversion_rediger' in bruger_rettigheder and 'arkiveringsversioner_land_rediger' in bruger_rettigheder %}
                    <select name="land" id="land" onchange="updateLand()">
                      {% else %}
                      <select name="land" id="land" disabled>
                        {% endif %}
                        {% for l in lande %}
                        {% if l == land %}
                        <option value="{{ l }}" selected>{{ l }}</option>
                        {% else %}
                        <option value="{{ l }}">{{ l }}</option>
                        {% endif %}
                        {% endfor %}
                      </select>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col l12">
                <div class="input-field col l12">
                  <div class="form-group">
                    <label for="noterfraarkivar" class="col-form-label left" style="color: #4C566A;">Noter fra arkivar</label>
                    {% if 'arkiveringsversioner_arkiveringsversion_rediger' in bruger_rettigheder and 'arkiveringsversioner_arkivarnoter_rediger' in bruger_rettigheder %}
                    <textarea id="noterfraarkivar" class="materialize-textarea" spellcheck="false" oninput="updateNoterfraarkivar()">{{ noterfraarkivar | default_if_none:'' }}</textarea>
                    {% else %}
                    <textarea id="noterfraarkivar" class="materialize-textarea" spellcheck="false" style="cursor: default !important; border-bottom: 1px dotted #2E3440; box-shadow: 0 0px 0 0 #2E3440;" readonly>{{ noterfraarkivar | default_if_none:'' }}</textarea>
                    {% endif %}
                  </div>
                </div>
                <div class="input-field col l12">
                  <div class="form-group">
                    <label for="noterfratester" class="col-form-label left" style="color: #4C566A;">Noter fra tester</label>
                    {% if 'arkiveringsversioner_arkiveringsversion_rediger' in bruger_rettigheder and 'arkiveringsversioner_testernoter_rediger' in bruger_rettigheder %}
                    <textarea id="noterfratester" class="materialize-textarea" spellcheck="false" oninput="updateNoterfratester()">{{ noterfratester | default_if_none:'' }}</textarea>
                    {% else %}
                    <textarea id="noterfratester" class="materialize-textarea" spellcheck="false" style="cursor: default !important; border-bottom: 1px dotted #2E3440; box-shadow: 0 0px 0 0 #2E3440;" readonly>{{ noterfratester | default_if_none:'' }}</textarea>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>

      <div class="col l6">
        <div class="card z-depth-0" style="margin-top: -2px;">
          <div class="card-content" style="padding: 0;">

            <div class="row">
              <div class="card-action col l12">
                <div class="col left" style="margin-left: -15px; margin-bottom: -7px;">
                  <button class="btn waves-effect waves-light z-depth-0" style="margin-right: 6px; background-color: #4C566A; color: #D8DEE9;" type="submit" id="public" name="public">Klar til test</button>
                </div>
                <div class="col right" style="margin-bottom: -7px;">
                  {% for _ in versioner %}
                  {% if version == forloop.counter %}
                  <a href="{% url 'arkiveringsversion_view' avid forloop.counter %}" style="margin: 0;">
                    {% if versioner|length == forloop.counter %}
                    <button class="btn waves-effect waves-light z-depth-0" style="background-color: #4C566A; color: #D8DEE9;" type="button" id="{{ forloop.counter }}" name="{{ forloop.counter }}">{{ forloop.counter }}</button>
                    {% else %}
                    <button class="btn waves-effect waves-light z-depth-0" style="background-color: #4C566A; color: #D8DEE9;" type="button" id="{{ forloop.counter }}" name="{{ forloop.counter }}">{{ forloop.counter }}</button>
                    {% endif %}
                  </a>
                  {% if versioner|length == forloop.counter %}
                  <span style="margin-right: -12px;"></span>
                  {% else %}
                  <span style="margin-right: 6px;"></span>
                  {% endif %}
                  {% else %}
                  <a href="{% url 'arkiveringsversion_view' avid forloop.counter %}" style="margin: 0;">
                    {% if versioner|length == forloop.counter %}
                    <button class="btn waves-effect waves-light z-depth-0" style="background-color: #81A1C1; color: #D8DEE9;" type="button" id="{{ forloop.counter }}" name="{{ forloop.counter }}">{{ forloop.counter }}</button>
                    {% else %}
                    <button class="btn waves-effect waves-light z-depth-0" style="background-color: #81A1C1; color: #D8DEE9;" type="button" id="{{ forloop.counter }}" name="{{ forloop.counter }}">{{ forloop.counter }}</button>
                    {% endif %}
                  </a>
                  {% if versioner|length == forloop.counter %}
                  <span style="margin-right: -12px;"></span>
                  {% else %}
                  <span style="margin-right: 6px;"></span>
                  {% endif %}

                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col l12">
                <div class="input-field col l4">
                  <div class="form-group">
                    <label for="arkivar" class="col-form-label left" style="color: #4C566A;">Arkivar</label>
                    {% if 'arkiveringsversioner_arkiveringsversion_rediger' in bruger_rettigheder and 'arkiveringsversioner_arkivar_rediger' in bruger_rettigheder %}
                    <select name="arkivar" id="arkivar" onchange="updateArkivar()">
                      {% else %}
                      <select name="arkivar" id="arkivar" disabled>
                        {% endif %}
                        {% if arkivar == None %}
                        <option value="" selected></option>
                        {% else%}
                        <option value=""></option>
                        {% endif %}
                        {% for k in arkivarer %}
                        {% if k == arkivar %}
                        <option value="{{ k }}" selected>{{ k }}</option>
                        {% else %}
                        <option value="{{ k }}">{{ k }}</option>
                        {% endif %}
                        {% endfor %}
                      </select>
                  </div>
                </div>
                <div class="input-field col l4">
                  <div class="form-group">
                    <label for="leverandoer" class="col-form-label left" style="color: #4C566A;">Leverandør</label>
                    {% if 'arkiveringsversioner_arkiveringsversion_rediger' in bruger_rettigheder and 'arkiveringsversioner_leverandør_rediger' in bruger_rettigheder %}
                    <select name="leverandoer" id="leverandoer" onchange="updateLeverandoer()">
                      {% else %}
                      <select name="leverandoer" id="leverandoer" disabled>
                        {% endif %}
                        {% if leverandoer == None %}
                        <option value="" selected></option>
                        {% else%}
                        <option value=""></option>
                        {% endif %}
                        {% for k in leverandoerer %}
                        {% if k == leverandoer %}
                        <option value="{{ k }}" selected>{{ k }}</option>
                        {% else %}
                        <option value="{{ k }}">{{ k }}</option>
                        {% endif %}
                        {% endfor %}
                      </select>
                  </div>
                </div>
                <div class="input-field col l4">
                  <div class="form-group">
                    <label for="tester" class="col-form-label left" style="color: #4C566A;">Tester</label>
                    {% if 'arkiveringsversioner_arkiveringsversion_rediger' in bruger_rettigheder and 'arkiveringsversioner_tester_rediger' in bruger_rettigheder %}
                    <select name="tester" id="tester" onchange="updateTester()">
                      {% else %}
                      <select name="tester" id="tester" disabled>
                        {% endif %}
                        {% if tester == None %}
                        <option value="" selected></option>
                        {% else%}
                        <option value=""></option>
                        {% endif %}
                        {% for k in testere %}
                        {% if k == tester %}
                        <option value="{{ k }}" selected>{{ k }}</option>
                        {% else %}
                        <option value="{{ k }}">{{ k }}</option>
                        {% endif %}
                        {% endfor %}
                      </select>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col l12">
                {% if status == 'Afventer aflevering' %}
                <div class="input-field col l3">
                  <div class="form-group">
                    <label for="afleveringsfrist" class="col-form-label left" style="color: #4C566A;">Afleveringsfrist</label>
                    {% if 'arkiveringsversioner_arkiveringsversion_rediger' in bruger_rettigheder and 'arkiveringsversioner_afleveringsfrist_rediger' in bruger_rettigheder %}
                    <input type="text" name="afleveringsfrist" id="afleveringsfrist" class="form-control date" value="{{ afleveringsfrist | default_if_none:'' }}" oninput="updateAfleveringsfrist()">
                    {% else %}
                    <input type="text" name="afleveringsfrist" id="afleveringsfrist" class="form-control" style="cursor: default !important; border-bottom: 1px dotted #2E3440; box-shadow: 0 0px 0 0 #2E3440;" value="{{ afleveringsfrist | date:'d-m-Y' | default_if_none:'' }}" readonly>
                    {% endif %}
                  </div>
                </div>
                {% endif %}
                {% if status != 'Afventer aflevering' %}
                <div class="input-field col l3">
                  <div class="form-group">
                    <label for="modtaget" class="col-form-label left" style="color: #4C566A;">Modtaget</label>
                    {% if 'arkiveringsversioner_arkiveringsversion_rediger' in bruger_rettigheder and 'arkiveringsversioner_modtaget_rediger' in bruger_rettigheder %}
                    <input type="text" name="modtaget" id="modtaget" class="form-control date" value="{{ modtaget | default_if_none:'' }}" oninput="updateModtaget()">
                    {% else %}
                    <input type="text" name="modtaget" id="modtaget" class="form-control" style="cursor: default !important; border-bottom: 1px dotted #2E3440; box-shadow: 0 0px 0 0 #2E3440;" value="{{ modtaget | date:'d-m-Y' | default_if_none:'' }}" readonly>
                    {% endif %}
                  </div>
                </div>
                <div class="input-field col l3">
                  <div class="form-group">
                    <label for="adgang" class="col-form-label left" style="color: #4C566A;">Adgang</label>
                    {% if 'arkiveringsversioner_arkiveringsversion_rediger' in bruger_rettigheder and 'arkiveringsversioner_adgang_rediger' in bruger_rettigheder %}
                    <input type="text" name="adgang" id="adgang" class="form-control date" value="{{ adgang | default_if_none:'' }}" oninput="updateAdgang()">
                    {% else %}
                    <input type="text" name="adgang" id="adgang" class="form-control" style="cursor: default !important; border-bottom: 1px dotted #2E3440; box-shadow: 0 0px 0 0 #2E3440;" value="{{ adgang | date:'d-m-Y' | default_if_none:'' }}" readonly>
                    {% endif %}
                  </div>
                </div>
                <div class="input-field col l3">
                  <div class="form-group">
                    <label for="svarfrist" class="col-form-label left" style="color: #4C566A;">Svarfrist</label>
                    {% if 'arkiveringsversioner_arkiveringsversion_rediger' in bruger_rettigheder and 'arkiveringsversioner_svarfrist_rediger' in bruger_rettigheder %}
                    <input type="text" name="svarfrist" id="svarfrist" class="form-control date" value="{{ svarfrist | default_if_none:'' }}" oninput="updateSvarfrist()">
                    {% else %}
                    <input type="text" name="svarfrist" id="svarfrist" class="form-control" style="cursor: default !important; border-bottom: 1px dotted #2E3440; box-shadow: 0 0px 0 0 #2E3440;" value="{{ svarfrist | date:'d-m-Y' | default_if_none:'' }}" readonly>
                    {% endif %}
                  </div>
                </div>
                <div class="input-field col l3">
                  <div class="form-group">
                    <label for="svar" class="col-form-label left" style="color: #4C566A;">Svar</label>
                    {% if 'arkiveringsversioner_arkiveringsversion_rediger' in bruger_rettigheder and 'arkiveringsversioner_svar_rediger' in bruger_rettigheder %}
                    <input type="text" name="svar" id="svar" class="form-control date" value="{{ svar | default_if_none:'' }}" oninput="updateSvar()">
                    {% else %}
                    <input type="text" name="svar" id="svar" class="form-control" style="cursor: default !important; border-bottom: 1px dotted #2E3440; box-shadow: 0 0px 0 0 #2E3440;" value="{{ svar | date:'d-m-Y' | default_if_none:'' }}" readonly>
                    {% endif %}
                  </div>
                </div>
                {% endif %}
              </div>
            </div>

            <div class="row">
              <div class="col l12">
                <div class="input-field col l8">
                  <div class="form-group">
                    <label for="status" class="col-form-label left" style="color: #4C566A;">Status</label>
                    <input type="text" name="status" id="status" class="form-control" spellcheck="false" value="{{ status | default_if_none:'' }}" style="cursor: default !important; border-bottom: 1px dotted #2E3440; box-shadow: 0 0px 0 0 #2E3440;" readonly>
                  </div>
                </div>
                {% if status != 'Afventer aflevering' %}
                <div class="input-field col l2">
                  <div class="form-group">
                    {% if 'arkiveringsversioner_arkiveringsversion_rediger' in bruger_rettigheder and 'arkiveringsversioner_maskine_se' in bruger_rettigheder %}
                    <label for="maskine" class="col-form-label left" style="color: #4C566A;">Maskine</label>
                    <input type="text" name="maskine" id="maskine" class="form-control" spellcheck="false" value="{{ maskine | default:'' }}" style="cursor: default !important; border-bottom: 1px dotted #2E3440; box-shadow: 0 0px 0 0 #2E3440;" readonly>
                    {% endif %}
                  </div>
                </div>
                {% endif %}
                {% if status != 'Afventer aflevering' %}
                <div class="input-field col l2">
                  <div class="form-group">
                    <label for="stoerrelse" class="col-form-label left" style="color: #4C566A;">Størrelse</label>
                    {% if 'arkiveringsversioner_arkiveringsversion_rediger' in bruger_rettigheder and 'arkiveringsversioner_størrelse_rediger' in bruger_rettigheder %}
                    <input type="text" name="stoerrelse" id="stoerrelse" class="form-control number" spellcheck="false" value="{{ stoerrelse | default:0 }}" oninput="updateStoerrelse()">
                    {% else %}
                    <input type="text" name="stoerrelse" id="stoerrelse" class="form-control" spellcheck="false" value="{{ stoerrelse | default:0 }}" style="cursor: default !important; border-bottom: 1px dotted #2E3440; box-shadow: 0 0px 0 0 #2E3440;" readonly>
                    {% endif %}
                  </div>
                </div>
                {% endif %}
              </div>
            </div>

            {% if status == 'Modtaget' %}
            <div class="col l12">
              <div class="card z-depth-0" style="margin-top: -2px;">
                <div class="card-content" style="padding: 0;">


                  <div class="row">
                    <div class="col l12">
                      <div class="input-field col l12" style="margin: 0px; padding-bottom: 5px; margin-top: -21px;">
                        <div class=" form-group">
                          <label class="col l3" id="kvitteret" onchange="updateKvitteret()">
                            <input type="checkbox" class="radio" name="kvitteret" value="kvitteret" />
                            <span style="color: #2E3440;">Kvittering afsendt</span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col l12">
                      <div class="divider" style="border-top: 1px solid #4C566A;"></div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col l12">
                      <div class="input-field col l12" style="margin: 0px; padding-bottom: 5px; margin-top: 5px;">
                        <div class="form-group">
                          <label class="col l3" id="journaliseret" onchange="updateJournaliseret()">
                            <input type="checkbox" class="radio" name="journaliseret" value="journaliseret" />
                            <span style="color: #2E3440;">Følgeseddel journaliseret</span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col l12">
                      <div class="divider" style="border-top: 1px solid #4C566A;"></div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col l12">
                      <div class="input-field col l12" style="margin: 0; padding-bottom: 4px; margin-top: 4px;">
                        <div class="form-group">
                          <label class="col l3" onchange="updateKodeord_modtaget()">
                            <input type="checkbox" class="radio" name="kodeord" value="modtaget" />
                            <span style="color: #2E3440;">Kodeord modtaget</span>
                          </label>
                          <label class="col l4" onchange="updateKodeord_mangler()">
                            <input type="checkbox" class="radio" name="kodeord" value="mangler" />
                            <span style="color: #2E3440;">Kodeord mangler (rykker afsendt)</span>
                          </label>
                          <label class="col l4" onchange="updateIkke_krypteret()">
                            <input type="checkbox" class="radio" name="kodeord" value="ikke_krypteret" />
                            <span style="color: #2E3440;">Afleveringsmedie er ikke krypteret</span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col l12">
                      <div class="divider" style="border-top: 1px solid #4C566A;"></div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col l12">
                      <div class="input-field col l12" style="margin: 0; padding-bottom: 4px; margin-top: 4px;">
                        <div class="form-group">
                          <label class="col l6" onchange="updateKopieret()">
                            <input type="checkbox" class="radio" name="kopieret" value="kopieret" />
                            <span style="color: #2E3440;">Kopieret til testmedie</span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col l12">
                      <div class="divider" style="border-top: 1px solid #4C566A;"></div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col l12">
                      <div class="input-field col l12" style="margin: 0; padding-bottom: 4px; margin-top: 4px;">
                        <div class="form-group">
                          <label class="col l3" onchange="updateModtagelse_godkendt()">
                            <input type="checkbox" class="radio" name="modtagelse" value="godkendt" />
                            <span style="color: #2E3440;">Modtagelse godkendt</span>
                          </label>
                          <label class="col l3" onchange="updateModtagelse_afvist()">
                            <input type="checkbox" class="radio" name="modtagelse" value="afvist" />
                            <span style="color: #2E3440;">Modtagelse afvist</span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col l12">
                      <div class="divider" style="border-top: 1px solid #4C566A;"></div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col l12">
                      <div class="input-field col l12" style="margin: 0; padding-bottom: 4px; margin-top: 4px;">
                        <div class="form-group">
                          <label class="col l3" onchange="updateFileindex()">
                            <input type="checkbox" class="radio" name="fileindex" value="kopieret" />
                            <span style="color: #2E3440;">Filindeks kopieret</span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col l12">
                      <div class="divider" style="border-top: 1px solid #4C566A;"></div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col l12">
                      <div class="input-field col l12" style="margin: 0; padding-bottom: 4px; margin-top: 4px;">
                        <div class="form-group">
                          <label class="col l3" onchange="updateAda_godkendt()">
                            <input type="checkbox" class="radio" name="ada" value="godkendt" />
                            <span style="color: #2E3440;">ADA-test godkendt</span>
                          </label>
                          <label class="col l3" onchange="updateAda_afvist()">
                            <input type="checkbox" class="radio" name="ada" value="afvist" />
                            <span style="color: #2E3440;">ADA-test afvist</span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col l12">
                      <div class="divider" style="border-top: 1px solid #4C566A;"></div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            {% endif %}

          </div>
        </div>
      </div>

    </div>

  </form>
</section>

<script>
  $("input:checkbox").on('click', function () {
    let $box = $(this);
    if ($box.is(":checked")) {
      let group = "input:checkbox[name='" + $box.attr("name") + "']";
      $(group).prop("checked", false);
      $box.prop("checked", true);
    } else {
      $box.prop("checked", false);
    }
  });

  Array.from(document.getElementsByClassName('number')).forEach(elem => {
    elem.addEventListener('input', event => {
      event.target.value = event.target.value.replace(/[^0-9]/g, '');
    });
  });

  Array.from(document.getElementsByClassName('date')).forEach(elem => {
    elem.addEventListener('input', event => {
      event.target.value = event.target.value.replace(/[^0-9\\-]/g, '');
    });
  });

  Array.from(document.getElementsByClassName('jnr')).forEach(elem => {
    elem.addEventListener('input', event => {
      event.target.value = event.target.value.replace(/[^0-9\/\-]/g, '');
    });
  });

  let submit_clicked = false

  $('form').submit(function (event) {
    submit_clicked = true
  });

  let public = '{{ public }}'
  let avid = '{{ avid }}'
  let jnr = '{{ jnr }}'
  let titel = '{{ titel }}'
  let kategori = '{{ kategori }}'
  let klassifikation = '{{ klassifikation }}'
  let type = '{{ type }}'
  let land = '{{ land }}'
  let noterfraarkivar = '{{ noterfraarkivar }}'
  let noterfratester = '{{ noterfratester }}'
  let arkivar = '{{ arkivar }}'
  let leverandoer = '{{ leverandoer }}'
  let tester = '{{ tester }}'
  let afleveringsfrist = '{{ afleveringsfrist }}'
  let modtaget = '{{ modtaget }}'
  let adgang = '{{ adgang }}'
  let svarfrist = '{{ svarfrist }}'
  let svar = '{{ svar }}'
  let stoerrelse = '{{ stoerrelse }}'
  let kvitteret = undefined
  let kvitteret_start = undefined
  let journaliseret = undefined
  let journaliseret_start = undefined
  let kodeord_modtaget = undefined
  let kodeord_modtaget_start = undefined
  let kodeord_mangler = undefined
  let kodeord_mangler_start = undefined
  let ikke_krypteret = undefined
  let ikke_krypteret_start = undefined
  let kopieret = undefined
  let kopieret_start = undefined
  let modtagelse_godkendt = undefined
  let modtagelse_godkendt_start = undefined
  let modtagelse_afvist = undefined
  let modtagelse_afvist_start = undefined
  let fileindex = undefined
  let fileindex_start = undefined
  let ada_godkendt = undefined
  let ada_godkendt_start = undefined
  let ada_afvist = undefined
  let ada_afvist_start = undefined

  if ('{{ modtaget_kvitteret }}' == 'False') {
    kvitteret = false
    kvitteret_start = false
  } else {
    kvitteret = true
    kvitteret_start = true
  }

  if ('{{ modtaget_journaliseret }}' == 'False') {
    journaliseret = false
    journaliseret_start = false
  } else {
    journaliseret = true
    journaliseret_start = true
  }

  if ('{{ modtaget_kodeord }}' == 'False') {
    kodeord = false
    kodeord_start = false
  } else {
    kodeord = true
    kodeord_start = true
  }

  if ('{{ modtaget_mangler_kodeord }}' == 'False') {
    kodeord_mangler = false
    kodeord_mangler_start = false
  } else {
    kodeord_mangler = true
    kodeord_mangler_start = true
  }

  if ('{{ modtaget_ikke_krypteret }}' == 'False') {
    ikke_krypteret = false
    ikke_krypteret_start = false
  } else {
    ikke_krypteret = true
    ikke_krypteret_start = true
  }

  if ('{{ modtaget_kopieret }}' == 'False') {
    kopieret = false
    kopieret_start = false
  } else {
    kopieret = true
    kopieret_start = true
  }

  if ('{{ modtaget_modtagelse_godkendt }}' == 'False') {
    modtagelse_godkendt = false
    modtagelse_godkendt_start = false
  } else {
    modtagelse_godkendt = true
    modtagelse_godkendt_start = true
  }

  if ('{{ modtaget_modtagelse_afvist }}' == 'False') {
    modtagelse_afvist = false
    modtagelse_afvist_start = false
  } else {
    modtagelse_afvist = true
    modtagelse_afvist_start = true
  }

  if ('{{ modtaget_fileindex_kopieret }}' == 'False') {
    fileindex = false
    fileindex_start = false
  } else {
    fileindex = true
    fileindex_start = true
  }

  if ('{{ modtaget_adatest_godkendt }}' == 'False') {
    ada_godkendt = false
    ada_godkendt_start = false
  } else {
    ada_godkendt = true
    ada_godkendt_start = true
  }

  if ('{{ modtaget_adatest_afvist }}' == 'False') {
    ada_afvist = false
    ada_afvist_start = false
  } else {
    ada_afvist = true
    ada_afvist_start = true
  }

  updatePublic = () => public = document.getElementById('public').value
  updateAvid = () => avid = document.getElementById('avid').value
  updateJnr = () => jnr = document.getElementById('jnr').value
  updateTitel = () => titel = document.getElementById('titel').value
  updateKategori = () => kategori = document.getElementById('kategori').value
  updateKlassifikation = () => klassifikation = document.getElementById('klassifikation').value
  updateType = () => type = document.getElementById('type').value
  updateLand = () => land = document.getElementById('land').value
  updateNoterfraarkivar = () => noterfraarkivar = document.getElementById('noterfraarkivar').value
  updateNoterfratester = () => noterfratester = document.getElementById('noterfratester').value
  updateArkivar = () => arkivar = document.getElementById('arkivar').value
  updateLeverandoer = () => leverandoer = document.getElementById('leverandoer').value
  updateTester = () => tester = document.getElementById('tester').value
  updateAfleveringsfrist = () => afleveringsfrist = document.getElementById('afleveringsfrist').value
  updateModtaget = () => modtaget = document.getElementById('modtaget').value
  updateAdgang = () => adgang = document.getElementById('adgang').value
  updateSvarfrist = () => svarfrist = document.getElementById('svarfrist').value
  updateSvar = () => svar = document.getElementById('svar').value
  updateStoerrelse = () => stoerrelse = document.getElementById('stoerrelse').value
  updateKvitteret = () => kvitteret = !kvitteret
  updateJournaliseret = () => journaliseret = !journaliseret
  updateKodeord_modtaget = () => kodeord = !kodeord
  updateKodeord_mangler = () => kodeord_mangler = !kodeord_mangler
  updateIkke_krypteret = () => ikke_krypteret = !ikke_krypteret
  updateKopieret = () => kopieret = !kopieret
  updateModtagelse_godkendt = () => modtagelse_godkendt = !modtagelse_godkendt
  updateModtagelse_afvist = () => modtagelse_afvist = !modtagelse_afvist
  updateFileindex = () => fileindex = !fileindex
  updateAda_godkendt = () => ada_godkendt = !ada_godkendt
  updateAda_afvist = () => ada_afvist = !ada_afvist

  window.addEventListener('beforeunload',
    function (e) {
      console.log(afleveringsfrist)
      if (
        (
          public != '{{ public }}' ||
          avid != '{{ avid }}' ||
          jnr != '{{ jnr }}' ||
          titel != '{{ titel }}' ||
          kategori != '{{ kategori }}' ||
          klassifikation != '{{ klassifikation }}' ||
          type != '{{ type }}' ||
          land != '{{ land }}' ||
          noterfraarkivar != '{{ noterfraarkivar }}' ||
          noterfratester != '{{ noterfratester }}' ||
          arkivar != '{{ arkivar }}' ||
          leverandoer != '{{ leverandoer }}' ||
          tester != '{{ tester }}' ||
          afleveringsfrist != '{{ afleveringsfrist }}' ||
          modtaget != '{{ modtaget }}' ||
          adgang != '{{ adgang }}' ||
          svarfrist != '{{ svarfrist }}' ||
          svar != '{{ svar }}' ||
          stoerrelse != '{{ stoerrelse }}' ||
          kvitteret !== kvitteret_start ||
          journaliseret !== journaliseret_start ||
          kodeord !== kodeord_start ||
          kodeord_mangler !== kodeord_mangler_start ||
          ikke_krypteret !== ikke_krypteret_start ||
          kopieret !== kopieret_start ||
          modtagelse_godkendt !== modtagelse_godkendt_start ||
          modtagelse_afvist !== modtagelse_afvist_start ||
          fileindex !== fileindex_start ||
          ada_godkendt !== ada_godkendt_start ||
          ada_afvist !== ada_afvist_start
        ) &&
        submit_clicked === false
      ) {
        e.preventDefault()
        e.returnValue = ''
      }
    })
</script>

{% endblock content %}

{% block footer %}
{% include 'arkiveringsversioner/footer.html' %}
{% endblock footer %}