{% extends 'base.html' %}

{% block title %}Arkiveringsversioner/Arkiveringsversion{% endblock %}

{% block content %}

<section class="section">

  <div class="row">

    <div class="col l6">
      <div class="card z-depth-0" style="margin-top: -2px;">
        <div class="card-content" style="padding: 0;">

          <div class="row">
            <div class="card-action col l12" style="margin-bottom: -27px;">
              <div class="col left" style="margin-left: -15px; margin-bottom: -7px;">
              </div>
              <div class="col right" style="margin-right: -15px; margin-bottom: -7px; ">
                <button class="btn waves-effect waves-light z-depth-0" style="margin-right: 4px; background-color: #4C566A; color: #D8DEE9;" type="submit" id="public" name="public">Public 360</button>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col l12">
              <div class="input-field col l12">
                <div class="form-group">
                  <label for="public_link" class="col-form-label left" style="color: #4C566A;">Public Link</label>
                  {% if 'arkiveringsversioner_arkiveringsversion_rediger' in bruger_rettigheder and 'arkiveringsversioner_public_rediger' in bruger_rettigheder %}
                  <input type="text" name="public_link" id="public_link" class="form-control" spellcheck="false" value="{{ public | default_if_none:'' }}">
                  {% else %}
                  <input type="text" name="public_link" id="public_link" class="form-control" spellcheck="false" value="{{ public | default_if_none:'' }}" style="cursor: default !important; border-bottom: 1px dotted #2E3440; box-shadow: 0 0px 0 0 #2E3440;" readonly>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col l12">
              <div class="input-field col l1">
                <div class="form-group">
                  <label for="avid" class="col-form-label left" style="color: #4C566A;">AVID</label>
                  {% if 'arkiveringsversioner_arkiveringsversion_rediger' in bruger_rettigheder and 'arkiveringsversioner_avid_rediger' in bruger_rettigheder %}
                  <input type="text" name="avid" id="avid" class="form-control" spellcheck="false" value="{{ avid | default_if_none:'' }}">
                  {% else %}
                  <input type="text" name="avid" id="avid" class="form-control" spellcheck="false" value="{{ avid | default_if_none:'' }}" style="cursor: default !important; border-bottom: 1px dotted #2E3440; box-shadow: 0 0px 0 0 #2E3440;" readonly>
                  {% endif %}
                </div>
              </div>
              <div class="input-field col l2">
                <div class="form-group">
                  <label for="jnr" class="col-form-label left" style="color: #4C566A;">J.nr.</label>
                  {% if 'arkiveringsversioner_arkiveringsversion_rediger' in bruger_rettigheder and 'arkiveringsversioner_jnr_rediger' in bruger_rettigheder %}
                  <input type="text" name="jnr" id="jnr" class="form-control" spellcheck="false" value="{{ jnr | default_if_none:'' }}">
                  {% else %}
                  <input type="text" name="jnr" id="jnr" class="form-control" spellcheck="false" value="{{ jnr | default_if_none:'' }}" style="cursor: default !important; border-bottom: 1px dotted #2E3440; box-shadow: 0 0px 0 0 #2E3440;" readonly>
                  {% endif %}
                </div>
              </div>
              <div class="input-field col l9">
                <div class="form-group">
                  <label for="titel" class="col-form-label left" style="color: #4C566A;">Titel</label>
                  {% if 'arkiveringsversioner_arkiveringsversion_rediger' in bruger_rettigheder and 'arkiveringsversioner_titel_rediger' in bruger_rettigheder %}
                  <input type="text" name="titel" id="titel" class="form-control" spellcheck="false" value="{{ titel | default_if_none:'' }}">
                  {% else %}
                  <input type="text" name="titel" id="titel" class="form-control" spellcheck="false" value="{{ titel | default_if_none:'' }}" style="cursor: default !important; border-bottom: 1px dotted #2E3440; box-shadow: 0 0px 0 0 #2E3440;" readonly>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col l12">
              <div class="input-field col l3">
                <div class="form-group">
                  <label for="kategori" class="col-form-label left" style="color: #4C566A;">Kategori</label>
                  {% if 'arkiveringsversioner_arkiveringsversion_rediger' in bruger_rettigheder and 'arkiveringsversioner_kategori_rediger' in bruger_rettigheder %}
                  <select name="kategori" id="kategori">
                    {% else %}
                    <select name="kategori" id="kategori" disabled>
                      {% endif %}
                      {% if kategori == None %}
                      <option value="" selected></option>
                      {% else%}
                      <option value=""></option>
                      {% endif %}
                      {% for k in kategorier %}
                      {% if k == kategori %}
                      <option value="{{ k }}" selected>{{ k }}</option>
                      {% else %}
                      <option value="{{ k }}">{{ k }}</option>
                      {% endif %}
                      {% endfor %}
                    </select>
                </div>
              </div>
              <div class="input-field col l3">
                <div class="form-group">
                  <label for="klassifikation" class="col-form-label left" style="color: #4C566A;">Klassifikation</label>
                  {% if 'arkiveringsversioner_arkiveringsversion_rediger' in bruger_rettigheder and 'arkiveringsversioner_klassifikation_rediger' in bruger_rettigheder %}
                  <select name="klassifikation" id="klassifikation">
                    {% else %}
                    <select name="klassifikation" id="klassifikation" disabled>
                      {% endif %}
                      {% if klassifikation == None %}
                      <option value="" selected></option>
                      {% else%}
                      <option value=""></option>
                      {% endif %}
                      {% for k in klassifikationer %}
                      {% if k == klassifikation %}
                      <option value="{{ k }}" selected>{{ k }}</option>
                      {% else %}
                      <option value="{{ k }}">{{ k }}</option>
                      {% endif %}
                      {% endfor %}
                    </select>
                </div>
              </div>
              <div class="input-field col l3">
                <div class="form-group">
                  <label for="type" class="col-form-label left" style="color: #4C566A;">Type</label>
                  {% if 'arkiveringsversioner_arkiveringsversion_rediger' in bruger_rettigheder and 'arkiveringsversioner_typeav_rediger' in bruger_rettigheder %}
                  <select name="type" id="type">
                    {% else %}
                    <select name="type" id="type" disabled>
                      {% endif %}
                      {% if type == None %}
                      <option value="" selected></option>
                      {% else%}
                      <option value=""></option>
                      {% endif %}
                      {% for t in typer %}
                      {% if t == type %}
                      <option value="{{ t }}" selected>{{ t }}</option>
                      {% else %}
                      <option value="{{ t }}">{{ t }}</option>
                      {% endif %}
                      {% endfor %}
                    </select>
                </div>
              </div>
              <div class="input-field col l3">
                <div class="form-group">
                  <label for="land" class="col-form-label left" style="color: #4C566A;">Land</label>
                  {% if 'arkiveringsversioner_arkiveringsversion_rediger' in bruger_rettigheder and 'arkiveringsversioner_land_rediger' in bruger_rettigheder %}
                  <select name="land" id="land">
                    {% else %}
                    <select name="land" id="land" disabled>
                      {% endif %}
                      {% for l in lande %}
                      {% if l == land %}
                      <option value="{{ l }}" selected>{{ l }}</option>
                      {% else %}
                      <option value="{{ l }}">{{ l }}</option>
                      {% endif %}
                      {% endfor %}
                    </select>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col l12">
              <div class="input-field col l12">
                <div class="form-group">
                  <label for="noterfraarkivar" class="col-form-label left" style="color: #4C566A;">Noter fra arkivar</label>
                  {% if 'arkiveringsversioner_arkiveringsversion_rediger' in bruger_rettigheder and 'arkiveringsversioner_arkivarnoter_rediger' in bruger_rettigheder %}
                  <textarea id="noterfraarkivar" class="materialize-textarea" spellcheck="false">{{ noterfraarkivar | default_if_none:'' }}</textarea>
                  {% else %}
                  <textarea id="noterfraarkivar" class="materialize-textarea" spellcheck="false" style="cursor: default !important; border-bottom: 1px dotted #2E3440; box-shadow: 0 0px 0 0 #2E3440;" readonly>{{ noterfraarkivar | default_if_none:'' }}</textarea>
                  {% endif %}
                </div>
              </div>
              <div class="input-field col l12">
                <div class="form-group">
                  <label for="noterfratester" class="col-form-label left" style="color: #4C566A;">Noter fra tester</label>
                  {% if 'arkiveringsversioner_arkiveringsversion_rediger' in bruger_rettigheder and 'arkiveringsversioner_testernoter_rediger' in bruger_rettigheder %}
                  <textarea id="noterfratester" class="materialize-textarea" spellcheck="false">{{ noterfratester | default_if_none:'' }}</textarea>
                  {% else %}
                  <textarea id="noterfratester" class="materialize-textarea" spellcheck="false" style="cursor: default !important; border-bottom: 1px dotted #2E3440; box-shadow: 0 0px 0 0 #2E3440;" readonly>{{ noterfratester | default_if_none:'' }}</textarea>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="col l6">
      <div class="card z-depth-0" style="margin-top: -2px;">
        <div class="card-content" style="padding: 0;">

          <div class="row">
            <div class="card-action col l12" style="margin-bottom: -27px;">
              <div class="col right" style="margin-bottom: -7px;">
                <button class="btn waves-effect waves-light z-depth-0" style="margin-right: 6px; background-color: #81A1C1; color: #D8DEE9;" type="submit" id="1" name="1">1</button>
                <button class="btn waves-effect waves-light z-depth-0" style="margin-right: 6px; background-color: #81A1C1; color: #D8DEE9;" type="submit" id="2" name="2">2</button>
                <button class="btn waves-effect waves-light z-depth-0" style="margin-right: 6px; background-color: #81A1C1; color: #D8DEE9;" type="submit" id="3" name="3">3</button>
                <button class="btn waves-effect waves-light z-depth-0" style="margin-right: -12px; background-color: #4C566A; color: #D8DEE9;" type="submit" id="4" name="4">4</button>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col l12">
              <div class="input-field col l4">
                <div class="form-group">
                  <label for="tester" class="col-form-label left" style="color: #4C566A;">Tester</label>
                  <input type="text" name="tester" id="tester" class="form-control" spellcheck="false" value="{{ tester | default_if_none:'' }}">
                </div>
              </div>
              <div class="input-field col l4">
                <div class="form-group">
                  <label for="arkivar" class="col-form-label left" style="color: #4C566A;">Arkivar</label>
                  <input type="text" name="arkivar" id="arkivar" class="form-control" spellcheck="false" value="{{ arkivar | default_if_none:'' }}">
                </div>
              </div>
              <div class="input-field col l4">
                <div class="form-group">
                  <label for="leverandoer" class="col-form-label left" style="color: #4C566A;">Leverandør</label>
                  <input type="text" name="leverandoer" id="leverandoer" class="form-control" spellcheck="false" value="{{ leverandoer | default_if_none:'' }}">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col l12">
              <div class="input-field col l2">
                <div class="form-group">
                  <label for="afleveringsfrist" class="col-form-label left" style="color: #4C566A;">Afleveringsfrist</label>
                  <input type="text" name="afleveringsfrist" id="afleveringsfrist" class="form-control" value="01-01-2021">
                </div>
              </div>
              <div class="input-field col l2">
                <div class="form-group">
                  <label for="modtaget" class="col-form-label left" style="color: #4C566A;">Modtaget</label>
                  <input type="text" name="modtaget" id="modtaget" class="form-control" value="01-01-2021">
                </div>
              </div>
              <div class="input-field col l2">
                <div class="form-group">
                  <label for="adgang" class="col-form-label left" style="color: #4C566A;">Adgang</label>
                  <input type="text" name="adgang" id="adgang" class="form-control" value="01-01-2021">
                </div>
              </div>
              <div class="input-field col l2">
                <div class="form-group">
                  <label for="svarfrist" class="col-form-label left" style="color: #4C566A;">Svarfrist</label>
                  <input type="text" name="svarfrist" id="svarfrist" class="form-control" value="01-01-2021">
                </div>
              </div>
              <div class="input-field col l2">
                <div class="form-group">
                  <label for="svar" class="col-form-label left" style="color: #4C566A;">Svar</label>
                  <input type="text" name="svar" id="svar" class="form-control" value="01-01-2021">
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

</section>

{% endblock content %}

{% block footer %}
{% include 'arkiveringsversioner/footer.html' %}
{% endblock footer %}