{% extends 'base.html' %}

{% block title %}Arkiveringsversioner/Arkiveringsversion{% endblock %}

{% block content %}

<section class="section">

  <div class="row">


    <div class="col l6">
      <div class="card z-depth-0" style="margin-top: -2px;">
        <div class="card-content" style="padding: 0;">

          <div class="row">
            <div class="card-action col l12" style="margin-bottom: -27px;">
              <div class="col left" style="margin-left: -15px; margin-bottom: -7px;">
              </div>
              <div class="col right" style="margin-right: -15px; margin-bottom: -7px;">
                <button class="btn waves-effect waves-light grey white-text z-depth-0" style="margin-right: 4px;" type="submit" id="public" name="public">Public 360</button>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col l12">
              <div class="input-field col l1">
                <div class="form-group">
                  <label for="avid" class="col-form-label left grey-text text-darken-2">AVID</label>
                  <input type="text" name="avid" id="avid" class="form-control" value="22111" readonly>
                </div>
              </div>
              <div class="input-field col l2">
                <div class="form-group">
                  <label for="jnr" class="col-form-label left grey-text text-darken-2">J.nr.</label>
                  <input type="text" name="jnr" id="jnr" class="form-control" value="21/15489" readonly>
                </div>
              </div>
              <div class="input-field col l9">
                <div class="form-group">
                  <label for="titel" class="col-form-label left grey-text text-darken-2">Titel</label>
                  <input type="text" name="titel" id="titel" class="form-control" value="Coronaministeriet - Døde mink" readonly>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col l12">
              <div class="input-field col l3">
                <div class="form-group">
                  <label for="kategori" class="col-form-label left grey-text text-darken-2">Kategori</label>
                  <input type="text" name="kategori" id="kategori" class="form-control" value="Stat" readonly>
                </div>
              </div>
              <div class="input-field col l3">
                <div class="form-group">
                  <label for="klassifikation" class="col-form-label left grey-text text-darken-2">Klassifikation</label>
                  <input type="text" name="klassifikation" id="klassifikation" class="form-control" value="Andet" readonly>
                </div>
              </div>
              <div class="input-field col l3">
                <div class="form-group">
                  <label for="type" class="col-form-label left grey-text text-darken-2">Type</label>
                  <input type="text" name="type" id="type" class="form-control" value="ESDH" readonly>
                </div>
              </div>
              <div class="input-field col l3">
                <div class="form-group">
                  <label for="land" class="col-form-label left grey-text text-darken-2">Land</label>
                  <input type="text" name="land" id="land" class="form-control" value="Danmark" readonly>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col l12">
              <div class="input-field col l12">
                <div class="form-group">
                  <label for="noterfraarkivar" class="col-form-label left grey-text text-darken-2">Noter fra arkivar</label>
                  <textarea id="noterfraarkivar" class="materialize-textarea" placeholder="Det er aftalt med myndighed..."></textarea>
                </div>
              </div>
              <div class="input-field col l12">
                <div class="form-group">
                  <label for="noterfratester" class="col-form-label left grey-text text-darken-2">Noter fra tester</label>
                  <textarea id="noterfratester" class="materialize-textarea" placeholder="Det er aftalt med leverandør..."></textarea>
                </div>
              </div>
            </div>
          </div>

          <div class="row" style="padding: 0; margin-top: 0">
            <div class="col l12" style="margin-bottom: -50px;">
              <div class="input-field col l6">
                <div class="file-field input-field">
                  <div class="btn waves-effect waves-light grey white-text z-depth-0">
                    <span><i class="material-icons">backup</i></span>
                    <input type="file" multiple>
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="afleveringsbestemmelse.pdf" readonly>
                  </div>
                </div>
              </div>
              <div class="input-field col l2">
                <button class="btn waves-effect waves-light grey white-text z-depth-0" style="height: 45px; width: 50px; margin-bottom: -49px;" type="submit" id="public" name="public">
                  <i class="material-icons">delete</i>
                </button>
                <button class="btn waves-effect waves-light grey white-text z-depth-0" style="height: 45px; width: 50px; margin-bottom: -49px;" type="submit" id="public" name="public">
                  <i class="material-icons">cloud_download</i>
                </button>
              </div>
              <div class="input-field col l4">
                <div class="form-group">
                  <br>
                  <p></p>
                </div>
              </div>
            </div>
          </div>

          <div class="row" style="padding: 0; margin-top: 0">
            <div class="col l12" style="margin-bottom: -50px;">
              <div class="input-field col l6">
                <div class="file-field input-field">
                  <div class="btn waves-effect waves-light grey white-text z-depth-0">
                    <span><i class="material-icons">backup</i></span>
                    <input type="file" multiple>
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="archiveIndex.xml" readonly>
                  </div>
                </div>
              </div>
              <div class="input-field col l2">
                <button class="btn waves-effect waves-light grey white-text z-depth-0" style="height: 45px; width: 50px; margin-bottom: -49px;" type="submit" id="public" name="public">
                  <i class="material-icons">delete</i>
                </button>
                <button class="btn waves-effect waves-light grey white-text z-depth-0" style="height: 45px; width: 50px; margin-bottom: -49px;" type="submit" id="public" name="public">
                  <i class="material-icons">cloud_download</i>
                </button>
              </div>
              <div class="input-field col l4">
                <div class="form-group">
                  <br>
                  <p>536848FE9FEDFE8F58C3B61E2925D3A3</p>
                </div>
              </div>
            </div>
          </div>

          <div class="row" style="padding: 0; margin-top: 0">
            <div class="col l12">
              <div class="input-field col l6">
                <div class=" file-field input-field">
                  <div class="btn waves-effect waves-light grey white-text z-depth-0">
                    <span><i class="material-icons">backup</i></span>
                    <input type="file" multiple>
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="contextDocumentationIndex.xml" readonly>
                  </div>
                </div>
              </div>
              <div class="input-field col l2">
                <button class="btn waves-effect waves-light grey white-text z-depth-0" style="height: 45px; width: 50px; margin-bottom: -49px;" type="submit" id="public" name="public">
                  <i class="material-icons">delete</i>
                </button>
                <button class="btn waves-effect waves-light grey white-text z-depth-0" style="height: 45px; width: 50px; margin-bottom: -49px;" type="submit" id="public" name="public">
                  <i class="material-icons">cloud_download</i>
                </button>
              </div>
              <div class="input-field col l4">
                <div class="form-group">
                  <br>
                  <p>536848FE9FEDFE8F58C3B61E2925D3A3</p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>


    <div class="col l6">
      <div class="card z-depth-0" style="margin-top: -2px;">
        <div class="card-content" style="padding: 0;">

          <div class="row">
            <div class="card-action col l12" style="margin-bottom: -27px;">
              <div class="col right" style="margin-bottom: -7px;">
                <button class="btn waves-effect waves-light grey lighten-1 black-text z-depth-0" style="margin-right: 6px;" type="submit" id="1" name="1">1</button>
                <button class="btn waves-effect waves-light grey lighten-1 black-text z-depth-0" style="margin-right: 6px;" type="submit" id="2" name="2">2</button>
                <button class="btn waves-effect waves-light grey lighten-1 black-text z-depth-0" style="margin-right: 6px;" type="submit" id="3" name="3">3</button>
                <button class="btn waves-effect waves-light grey white-text z-depth-0" style="margin-right: -12px;" type="submit" id="4" name="4">4</button>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col l12">
              <div class="input-field col l4">
                <div class="form-group">
                  <label for="jnr" class="col-form-label left grey-text text-darken-2">Tester</label>
                  <input type="text" name="jnr" id="jnr" class="form-control" value="Ib Hald Andersen" readonly>
                </div>
              </div>
              <div class="input-field col l4">
                <div class="form-group">
                  <label for="titel" class="col-form-label left grey-text text-darken-2">Arkivar</label>
                  <input type="text" name="titel" id="titel" class="form-control" value="Lars Martin Pedersen" readonly>
                </div>
              </div>
              <div class="input-field col l4">
                <div class="form-group">
                  <label for="avid" class="col-form-label left grey-text text-darken-2">Leverandør</label>
                  <input type="text" name="avid" id="avid" class="form-control" value="Tieto A/S" readonly>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col l12">
              <div class="input-field col l3">
                <div class="form-group">
                  <label for="avid" class="col-form-label left grey-text text-darken-2">Modtaget</label>
                  <input type="text" name="avid" id="avid" class="form-control" value="01-01-2021" readonly>
                </div>
              </div>
              <div class="input-field col l3">
                <div class="form-group">
                  <label for="jnr" class="col-form-label left grey-text text-darken-2">Adgang</label>
                  <input type="text" name="jnr" id="jnr" class="form-control" value="01-01-2021" readonly>
                </div>
              </div>
              <div class="input-field col l3">
                <div class="form-group">
                  <label for="titel" class="col-form-label left grey-text text-darken-2">Svarfrist</label>
                  <input type="text" name="titel" id="titel" class="form-control" value="01-01-2021" readonly>
                </div>
              </div>
              <div class="input-field col l3">
                <div class="form-group">
                  <label for="titel" class="col-form-label left grey-text text-darken-2">Svar</label>
                  <input type="text" name="titel" id="titel" class="form-control" value="01-01-2021" readonly>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col l12">
              <div class="input-field col l4">
                <div class="form-group">
                  <label for="jnr" class="col-form-label left grey-text text-darken-2">Status</label>
                  <input type="text" name="jnr" id="jnr" class="form-control" value="Modtaget" readonly>
                </div>
              </div>
              <div class="input-field col l2">
                <div class="form-group"><br>
                  <label for="bliv">
                    <input type="checkbox" name="bliv" id="bliv" />
                    <span class="grey-text text-darken-2">Kvitteret</span>
                  </label>
                </div>
              </div>
              <div class="input-field col l2">
                <div class="form-group"><br>
                  <label for="bliv">
                    <input type="checkbox" name="bliv" id="bliv" />
                    <span class="grey-text text-darken-2">Kodeord</span>
                  </label>
                </div>
              </div>
              <div class="input-field col l2">
                <div class="form-group"><br>
                  <label for="bliv">
                    <input type="checkbox" name="bliv" id="bliv" />
                    <span class="grey-text text-darken-2">Journaliseret</span>
                  </label>
                </div>
              </div>
              <div class="input-field col l2">
                <div class="form-group"><br>
                  <label for="bliv">
                    <input type="checkbox" name="bliv" id="bliv" />
                    <span class="grey-text text-darken-2">Kopieret</span>
                  </label>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>


  </div>

  </div>

  </div>
</section>

{% endblock content %}

{% block footer %}
{% include 'arkiveringsversioner/footer.html' %}
{% endblock footer %}