{% extends 'base.html' %}

{% block title %}Arkiveringsversion/Leverandoer/{{ navn | default_if_none:'' }}{% endblock %}

{% block content %}
<section class="section center">
  {% if 'arkiveringsversioner_leverandoer_rediger' in bruger_rettigheder %}
  <form action="{% url 'leverandoer_view' %}" method="POST">
    {% csrf_token %}
    {% endif %}
    <input type="hidden" name="pk" id="pk" value="{{ pk }}">

    <div class="row">
      <div class="col l4 offset-l4">
        <div class="card z-depth-0">
          <div class="card-content">
            <div class="row">
              <div class="input-field col l12">
                <div class="form-group">
                  <label for="navn" class="col-form-label left" style="color: #4C566A;">Navn</label>
                  {% if 'arkiveringsversioner_leverandoer_rediger' in bruger_rettigheder %}
                  <input type="text" name="navn" id="navn" class="form-control" value="{{ navn | default_if_none:'' }}">
                  {% else %}
                  <input type="text" name="navn" id="navn" class="form-control" value="{{ navn | default_if_none:'' }}" style="cursor: default !important; border-bottom: 1px dotted #2E3440; box-shadow: 0 0px 0 0 #2E3440;" readonly>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    {% if 'arkiveringsversioner_leverandoer_rediger' in bruger_rettigheder %}
    <div class="row">
      <div class="col l4 offset-l4">
        <div class="card z-depth-0">
          <div class="card-content">
            <div class="row">
              <div class="card-action col l12">
                <div class="col right" style="padding: 0; padding-top: 30px; margin: 0;">
                  <button class="btn waves-effect waves-light z-depth-0" style="margin-right: -15px; background-color: #4C566A; color: #D8DEE9;" type="submit" id="gem" name="gem">Gem</button>
                </div>
                {% if not ny %}
                <div class="col right" style="padding: 0; padding-top: 30px; margin: 0;">
                  <button class="btn waves-effect waves-light z-depth-0" style="margin-right: 20px; background-color: #4C566A; color: #D8DEE9;" type="submit" id="fortryd" name="fortryd">Fortryd</button>
                </div>
                {% endif %}
                {% if 'arkiveringsversioner_leverandoer_slet' in bruger_rettigheder%}
                <div class="col left" style="padding: 0; padding-top: 30px; margin: 0;">
                  <button class="btn waves-effect waves-light z-depth-0" style="margin-left: -13px; background-color: #BF616A; color: #D8DEE9;" type="submit" id="slet" name="slet">Slet</button>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    {% endif %}

    {% if 'arkiveringsversioner_leverandoer_rediger' in bruger_rettigheder %}
  </form>
  {% endif %}
</section>

{% endblock content %}

{% block footer %}
{% include 'arkiveringsversioner/footer.html' %}
{% endblock footer %}